<div class="col-8 offset-2">
  <div class="patient-container justify-content-center align-items-center" id="patients">
    <form class="form-inline my-2 my-lg-0">
      <h5>Gérer Comptes</h5>
      <div class="ml-auto">
        <input class="form-control mr-sm-2 rounded-pill" type="search" placeholder="Username" aria-label="Search">
        <button class="btn my-2 my-sm-0 btn-search rounded-pill btn-xs" type="submit">Rechercher</button>
      </div>
    </form>
  </div>
  <div class="ajouter">
    <button class="btn my-2 my-sm-0 btn-search rounded-pill " type="submit" data-toggle="modal"
      data-target="#modal-ajouter">+ Ajouter un nouveau Compte</button>
  </div>
</div>

<!--table-->
<div class="card">
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">CIN</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Qualification</th>
          <th scope="col">Username</th>
          <th scope="col">Role</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cardiologue of cardiologues" [attr.id]="cardiologue.cin" (click)="cardiologueClicked()">
          <th scope="row">{{cardiologue.cin}}</th>
          <td>{{cardiologue.nom}}</td>
          <td>{{cardiologue.prenom}}</td>
          <td>{{cardiologue.qualification}}</td>
          <td>{{cardiologue.username}}</td>
          <td>{{cardiologue.role}}</td>
          <td>
            <button class="btn my-2 my-sm-0 btn-search rounded-pill btn-xs" type="submit" data-toggle="modal"
            data-target="#modal-modifier" (click)="setSelection(cardiologue)">
              Modifier
            </button>
            <button class="btn my-2 my-sm-0 btn-search rounded-pill btn-xs" type="submit"
              (click)="deleteCardiologue(cardiologue.cin)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal ajouter -->
<div #dismissCreateDialog class="modal fade" id="modal-ajouter" tabindex="-1" role="dialog"
  aria-labelledby="modalajouterLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-ajouter d-flex justify-content-center align-items-center">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ajouter Compte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #cardiologueForm class="login-form text-center" (ngSubmit)="addCardiologue()">
          <div class="form-group">
            <label for="cin">CIN:</label>
            <input type="text" id="cin" name="cin" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="cardiologue.cin" required #cin="ngModel">
              <div *ngIf="cin.invalid && (cin.dirty || cin.touched)"
                class="alert alert-danger">
                  <div *ngIf="cin.errors.required">
                    CIN est obligatoire.
                  </div>
                </div>
          </div>
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" id="nom" name="nom" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="cardiologue.nom" required #nom="ngModel">
              <div *ngIf="nom.invalid && (nom.dirty || nom.touched)"
                class="alert alert-danger">
                  <div *ngIf="nom.errors.required">
                    Nom est obligatoire.
                  </div>
                </div>
          </div>
          <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text" id="prenom" name="prenom" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="cardiologue.prenom" required #prenom="ngModel">
              <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)"
                class="alert alert-danger">
                  <div *ngIf="prenom.errors.required">
                    Prénom est obligatoire.
                  </div>
                </div>
          </div>
          <div class="form-group">
            <label for="qualification">Qualification:</label>
            <input type="text" id="qualification" name="qualification" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="cardiologue.qualification" required #qualification="ngModel">
              <div *ngIf="qualification.invalid && (qualification.dirty || qualification.touched)"
                class="alert alert-danger">
                  <div *ngIf="qualification.errors.required">
                    Qualification est obligatoire.
                  </div>
                </div>
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="cardiologue.username" required #username="ngModel">
              <div *ngIf="username.invalid && (username.dirty || username.touched)"
                class="alert alert-danger">
                  <div *ngIf="username.errors.required">
                    Username est obligatoire.
                  </div>
                </div>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="cardiologue.password" required #password="ngModel">
              <div *ngIf="password.invalid && (password.dirty || password.touched)"
                class="alert alert-danger">
                  <div *ngIf="password.errors.required">
                    Password est obligatoire.
                  </div>
                </div>
          </div>
          <div class="form-group">
            <label for="role">Role:</label>
            <input type="text" id="role" name="role" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="cardiologue.role" required #role="ngModel">
              <div *ngIf="role.invalid && (role.dirty || role.touched)"
                class="alert alert-danger">
                  <div *ngIf="role.errors.required">
                    Role est obligatoire.
                  </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-custom rounded-pill">Enregistrer</button>
            <button type="button" class="btn btn-custom rounded-pill">Réinitialiser</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal modifier -->
<div #dismissUpdateDialog class="modal fade" id="modal-modifier" tabindex="-1" role="dialog"
  aria-labelledby="modalmodifierLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-ajouter d-flex justify-content-center align-items-center">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modifier Compte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #cardiologueForm class="login-form text-center" (ngSubmit)="updateCardiologue(selectedCardiologue)">
          <div class="form-group">
            <label for="cin">CIN:</label>
            <input disabled type="text" id="cin" name="cin" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="selectedCardiologue && selectedCardiologue.cin">
          </div>
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" id="nom" name="nom" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="selectedCardiologue && selectedCardiologue.nom">
          </div>
          <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text" id="prenom" name="prenom" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="selectedCardiologue && selectedCardiologue.prenom">
          </div>
          <div class="form-group">
            <label for="qualification">Qualification:</label>
            <input type="text" id="qualification" name="qualification" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="selectedCardiologue && selectedCardiologue.qualification">
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="selectedCardiologue && selectedCardiologue.username">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="selectedCardiologue && selectedCardiologue.password">
          </div>
          <div class="form-group">
            <label for="role">Role:</label>
            <input type="text" id="role" name="role" class="form-control rounded-pill form-control-lg"
              [(ngModel)]="selectedCardiologue && selectedCardiologue.role">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-custom rounded-pill">Enregistrer</button>
            <button type="button" class="btn btn-custom rounded-pill">Réinitialiser</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>