<div class="card" style="margin: 100px;">
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Numéro Dossier</th>
            <th scope="col">Patient</th>
            <th scope="col">Intervention</th>
            <th scope="col">Numéro Intervention</th>
            <th scope="col">Cardiologue</th>
            <th scope="col">PDF</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button class="btn my-2 my-sm-0 btn-search rounded-pill btn-xs" type="submit" data-toggle="modal"
              data-target="#modal-exporter">
                Exporter
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div style="text-align: center; margin-top: 25px; margin-bottom: 25px; padding: 50px;">
    <button type="submit" class="btn btn-custom">Exporter Tableau</button>
  </div>
