<div class="container-fluid justify-content-center">
    <div class="row">
        <div id="angioplastie">
            <div class="d-flex justify-content-left align-items-left coro-container">
                <form class="interv-form">
                    <h5 class="mb-3" style="color: rgb(70, 70, 70); font-weight: 500;">Angioplastie :</h5>
                    <hr>
                    <div class="row">
                        <div class="col-3" style="min-width: 225px;">
                            <div class="form-group">
                                <label for="numero">Numéro:</label>
                                <input type="text" id="numero" name="numero"
                                    class="form-control rounded-pill form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <label for="date">Date:</label>
                                <input type="date" id="date" name="date"
                                    class="form-control rounded-pill form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <label for="numeroCoro">Numéro de coronarographie:</label>
                                <input type="texte" id="numeroCoro" name="numeroCoro"
                                    class="form-control rounded-pill form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <label for="urgente">Urgente:</label>
                                <input type="text" id="urgente" name="urgente"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="cardiologue">Opérateur:</label>
                                <input type="text" id="cardiologue" name="cardiologue"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="paDiastolique">PA diastolique:</label>
                                <input type="text" id="paDiastolique" name="paDiastolique"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="paSystolique">PA systolique:</label>
                                <input type="text" id="paSystolique" name="paSystolique"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                        </div>
                        <div class="col-3" style="padding-left:50px; min-width: 250px;">
                            <div class="form-group">
                                <label for="frequenceCardique">Fréquence cardique:</label>
                                <input type="text" id="frequenceCardique" name="frequenceCardique"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="abordArteriel">Abord Arteriel Principal:</label>
                                <input type="text" id="abordArteriel" name="abordArteriel"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="anticoagulantIV">Anticoagulant IV:</label>
                                <input type="text" id="anticoagulantIV" name="anticoagulantIV"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="quantiteAnticoagulant">Quantité Anticoagulant IV:</label>
                                <input type="text" id="quantiteAnticoagulant" name="quantiteAnticoagulant"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="quantiteRisordan">Quantité Risordan:</label>
                                <input type="text" id="quantiteRisordan" name="quantiteRisordan"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="quantiteLoxen">Quantité Loxen:</label>
                                <input type="text" id="quantiteLoxen" name="quantiteLoxen"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="quantiteAntiG">Quantité Anti GIIBIII:</label>
                                <input type="text" id="quantiteAntiG" name="quantiteAntiG"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Tables-->
<div class="row" style="margin-top: 350px; margin-left: 10px;">
    <div class="card col-5">
        <div class="card-body">
            <h5 class="mb-3" style="color: rgb(70, 70, 70); font-weight: 500;">Contraste et dosimétrie:</h5>
            <hr>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Type PDC</th>
                        <th scope="col">Quantité PDC</th>
                        <th scope="col">Quantité PDS</th>
                        <th scope="col">Nombre d'images</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card col-4" style="margin-left: 10px;">
        <div class="card-body">
            <h5 class="mb-3" style="color: rgb(70, 70, 70); font-weight: 500;">Biologie:</h5>
            <hr>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Degré</th>
                        <th scope="col">Flux TIMI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Matériels/Procédures-->
<div class="container-fluid justify-content-center" style="margin-top: 20px;">
    <div class="row">
        <div id="Matériels">
            <div class="d-flex justify-content-left align-items-left coro-container">
                <form class="interv-form">
                    <h5 class="mb-3" style="color: rgb(70, 70, 70); font-weight: 500;">Matériels :</h5>
                    <hr>
                    <div class="row">
                        <div class="col-3" style="min-width: 225px;">
                            <div class="form-group">
                                <label for="tailleDesilet">Taille desilet:</label>
                                <input type="text" id="tailleDesilet" name="tailleDesilet"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="reseauG">CG Réseau G:</label>
                                <input type="text" id="reseauG" name="reseauG"
                                    class="form-control rounded-pill form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <label for="reseauD">CG Réseau D:</label>
                                <input type="texte" id="reseauD" name="reseauD"
                                    class="form-control rounded-pill form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <label for="pontage">Pontage:</label>
                                <input type="text" id="pontage" name="pontage"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="procedureId">Pocédure ID:</label>
                                <input type="text" id="procedureId" name="procedureId"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                        </div>
                        <div class="col-3" style="min-width: 225px;">
                            <h6>Ballons:</h6>
                            <div class="form-group">
                                <label for="typeBallon">Type:</label>
                                <input type="text" id="typeBallon" name="typeBallon"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="longueur">Longueur:</label>
                                <input type="text" id="longueur" name="longueur"
                                    class="form-control rounded-pill form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <label for="diametre">Diamètre:</label>
                                <input type="texte" id="diametre" name="diametre"
                                    class="form-control rounded-pill form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <label for="phase">Phase:</label>
                                <input type="text" id="phase" name="phase"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                        </div>
                        <div class="col-3" style="min-width: 225px;">
                            <h6>Stents:</h6>
                            <div class="form-group">
                                <label for="typeStent">Type:</label>
                                <input type="text" id="typeStent" name="typeStent"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="longueur">Longueur:</label>
                                <input type="text" id="longueur" name="longueur"
                                    class="form-control rounded-pill form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <label for="diametre">Diamètre:</label>
                                <input type="texte" id="diametre" name="diametre"
                                    class="form-control rounded-pill form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <label for="marque">Marque:</label>
                                <input type="text" id="marque" name="marque"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="pression">Pression inérieure:</label>
                                <input type="text" id="pression" name="pression"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="duree">Durée inérieure:</label>
                                <input type="text" id="duree" name="duree"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                        </div>
                        <div class="col-3" style="min-width: 225px;">
                            <h6>Guides:</h6>
                            <div class="form-group">
                                <label for="typeBallon">Type:</label>
                                <input type="text" id="typeBallon" name="typeBallon"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="Procédures">
            <div class="d-flex justify-content-left align-items-left coro-container" style="margin-left: 10px;">
                <form class="interv-form">
                    <h5 class="mb-3" style="color: rgb(70, 70, 70); font-weight: 500;">Procédures :</h5>
                    <hr>
                    <div class="row">
                        <div class="col-3" style="min-width: 225px;">
                            <div class="form-group">
                                <label for="procedureId">ID:</label>
                                <input type="text" id="procedureId" name="procedureId"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="technique">Technique:</label>
                                <input type="text" id="technique" name="technique"
                                    class="form-control rounded-pill form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <label for="ballonPre">Ballons PRE:</label>
                                <input type="texte" id="ballonPre" name="ballonPre"
                                    class="form-control rounded-pill form-control-sm" required>
                            </div>
                            <div class="form-group">
                                <label for="ballonPost">Ballons POST:</label>
                                <input type="text" id="ballonPost" name="ballonPost"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="stent">Stents:</label>
                                <input type="text" id="stent" name="stent"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="timiFinal">TIMI Final:</label>
                                <input type="text" id="timiFinal" name="timiFinal"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="resultat">Résultat:</label>
                                <input type="text" id="resultat" name="resultat"
                                    class="form-control rounded-pill form-control-sm">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Traitements-->
<div class="container-fluid justify-content-center">
    <div class="row">
        <div class="card col-5" style="margin-top: 350px; margin-left: 10px;">
            <div class="card-body">
                <h5 class="mb-3" style="color: rgb(70, 70, 70); font-weight: 500;">Traitements:</h5>
                <hr>
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">ID Patient</th>
                            <th scope="col">Date</th>
                            <th scope="col">Posologie (mg/j)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--btn-->
<div style="text-align: center; margin-top: 25px; margin-bottom: 25px; padding: 50px;">
    <button type="submit" class="btn btn-custom">Enregistrer</button>
    <button type="submit" class="btn btn-custom">Réinitialiser</button>
</div>