<div class="d-flex justify-content-center align-items-center login-container">
    <form class="login-form text-center">
        <h1 class="mb-5 font-weight-light ">CoroCure</h1>
        <h3 class="mb-5 font-weight-light ">LOGIN</h3>
        <div class="form-group">
            <input type="text" id="user" class="form-control rounded-pill form-control-lg" placeholder="Nom d'utilisateur" [(ngModel)]="username" name="username">
        </div>
        <div class="form-group">
            <input type="password" id="pwd" class="form-control rounded-pill form-control-lg" placeholder="Mot de passe" [(ngModel)]="password" name="password">
        </div>
            <!-- <a class="forgot-link d-flex justify-content-center align-items-center" href="#">Mot de passe oublié</a> -->
        <button type="submit" class="btn mt-5 rounded-pill btn-lg btn-custom btn-block" (click)="Login()">S'identifier</button>
    </form>
</div>
